

$jw-pink: #EF476F;
$jw-yellow: #FFD166;
$jw-green: #00BF8E;
$jw-blue: #118AB2;

$jw-grey: #fafafa;


//.section-pink {
//	background-color: #EF476F;
//	color: rgba(255,255,255,.9);
//}	
//.section-yellow {
//	background-color: #FFD166;
//}	
//.section-green {
//	background-color: #00BF8E;
//}
//.section-blue {
//	background-color: #118AB2;
//}

.notification.is-pink {
    background-color: $jw-pink;
	color: #fff;
}
.notification.is-yellow {
    background-color: $jw-yellow;
    color: rgba(0, 0, 0, 0.7);
	
}
.notification.is-green {
    background-color: $jw-green;
	color: #fff;
}
.notification.is-blue {
    background-color: $jw-blue;
	color: #fff;
}