.typingTextContainer {
//  position: absolute;
  display: grid;
}
.typingText, .typingTextDummy { 
  grid-area: 1/1; 
}

.typingText {
  margin-bottom: 0px !important;
}

.typingTextDummy {
  visibility: hidden;
}


.stickyProfileImageContainer {
	position:relative;	
	height: 100%;
}

.stickyProfile {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 50px !important;
}